@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



body{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    background-color: #151515;
    font-size: 20px;
}

ul, a{text-decoration: none;}
li{list-style: none;}
img{background-size: cover;}

/* font style */
html, body, footer, .body, h1, h3, h4, a, p, td {font-family: 'Noto Sans KR', sans-serif; color: white;}
h3, h4, a, p{margin: 0px;}
h1, h3, h4 {font-weight: 700;}
a, p, td {font-weight: 400;}
h4, a, p, td {font-size: 1rem; line-height: 1.8rem;}
h1{font-size: 6.3rem; margin: 0rem !important;}
.border{color: #151515; -webkit-text-stroke: 1px white; margin: 1.4rem;}
.white{font-size: 6.5rem; color: white;}
button{border: none; background-color:#151515; cursor: pointer; margin: 2px 0;}

/* header */
header{
    width: 100%;
    height: 3.5rem;
    background-color: #555555;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 102;
    box-shadow: 0 4px 12px rgba(21, 21, 21, 0.4);
}

.head_inner{
    margin: 0 auto;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.mainMenu li{float: right; margin-left: 1rem;}
.head_inner a, .head_inner .mainMenu li a{
    position: relative !important;
    display: block;
    font-size: 0.8rem !important; 
    /* text-transform: uppercase;  */
    transition: 0.5s;
}
.mainMenu li a::after{
    content: "";
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.mainMenu li a:hover::after{transform: scaleX(1); transform-origin: left;}

/* Scroll Menu */
/* .mainMenu li.on a.mainMenu_01{background-position: -200px 0;}
.mainMenu li.on a.mainMenu_02{background-position: -800px 0;}
.mainMenu li.on a.mainMenu_03{background-position: -1000px -800px;}  */



/* to top btn : 맨위로*/
button.toTheTop{
    z-index: 101;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    border: 2px solid rgba(25, 25, 25, 0.7);  
    background-color: rgba(21, 21, 21, 0.4);
    backdrop-filter: blur(4px);
    cursor: pointer;
    transform: translateY(2%);
    transition: all .2s;

    /* position */
    position: fixed;
    bottom: 50px;
    right: 50px;
}
button.toTheTop:hover{
    transform: translateY(-2%);
    border: 2px solid rgba(44, 44, 44, 0.5);  
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.75);
}
button.toTheTop a#topbtn{font-weight: 700; padding: 25%;}

/* hide-ex : 말풍선 공통*/
.hide_ex{
    position: relative;
    background-color: #555555;
    border: none;
    border-radius: 6px;
    box-shadow: 0 4px 4px rgba(21, 21, 21, 0.75);
}


/* 섹션 첫번째 */
.set01_content{
    margin: 0 auto;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 0 30rem 0;
}
.set01_content_le{
    width: 66%; 
    padding-left: 40px;
    display: flex;
    align-items:end;
}
.set01_content_le > p{position: relative; top: -1.5rem; left: 1.5rem;}
.set01_content_ri{
    width: 34%; 
    text-align: left;
    position: relative;
    /* border: 1px solid white; */
}
.key_modalGroup{
    /* position: absolute; */
    width: 21rem;
    display: flex;
    align-items: center;
    justify-content: left;
    /* border: 1px solid red; */
}
.key_modalGroup:hover .modal{opacity: 1; box-shadow: 0 4px 4px rgba(21, 21, 21, 0.75);}
.key_modalGroup .modal{
    position: absolute;
    left: 54%;
    opacity: 0;
    transition: all ease-out .5s;
}
.key_modalGroup .modal p {padding: 5px 1rem;}
.key_modalGroup .modal::before{
    content: "";
    position: absolute;
    left: -19px;
    top: 50%;
    margin-top: -5px;
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #555555;
    transition: all ease-in 1s;
}



/* 섹션 두번째 */
.sec02{width: 100%; margin-bottom: 310px; overflow: hidden; position: relative;}

.hello_top > img{position: relative; top: 4.6rem; left: 42%;}
.hello_top > h1.hello_01{
    /* position: relative;
    left: 0rem; */
    padding: 2rem 0 8rem 0;
}

.right_jiin_btn{position: absolute; bottom: 200px; right: 0;}
.right_jiin_btn img{position: relative; cursor: pointer;}
.right_jiin_btn img:hover{
    /* animation */
    animation: mymove 3s infinite ease-in-out;
}
@keyframes mymove {
    0% {scale: 100%; top: 0; left: 30px;}
    25% {scale: 98%; top: 20px; left: 30px;}
    50% {scale: 95%; top: 28px; right: 25px;}
    75% {scale: 98%; top: 20px; left: 30px;}
    100% {scale: 100%; top: 0; left: 0;}
}

.boxhide{display: none; position: absolute; top: 30%; left: -240%; transition: 0.5s;}
.boxhide p{padding: 1% 10px; display: inline-block; transition: 0.5s;}
.boxhide::after{
    content: "";
    position: absolute;
    right: -19px;
    top: 50%;
    margin-top: -7px;
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 10px solid #555555;
    border-right: 10px solid transparent;
}


/* hello_cont */
.hello_cont{padding-left: 40px}

/* skillTable_area */
.skillTable_area{position: relative; left: -6px; margin-top: 16px;}
.skill_contTop, .skill_contMid{border-spacing: 6px 0.2em;}
.skill_contTop td,
.skill_contMid td{border: 1px solid white; border-radius: 6px; padding: 10px 1rem;}



/* 섹션 세번째 */
/* 섹션 세번째 : 디자인 시스템 1번 */
.design_sys_01 > p{margin-bottom: 2rem; padding-left: 2%}

.design_sys_01 .main_sys_keyword{
    border: 2px solid #555555; 
    border-radius: 12px; 
    margin: 0 auto; 
    text-align: center; 
    padding: 15rem 8.5rem;
}
.design_sys_01 .main_sys_keyword img:nth-child(1){margin-right: 3rem;}

/* 섹션 세번째 : 디자인 시스템 2번 */
.design_sys_02{margin: 6rem 0 10rem 0; padding: 0 8.5rem;}
.design_sys_02 .sys_title{margin: 2rem auto; }
.design_sys_02 .sys_title p{margin: 0px !important;}

.design_sys_02 .content_group02 article{position: relative;}
.design_sys_02 .content_group02 article img:nth-child(1){
    position: relative; 
    left: -1.8rem; 
    scale: 98%;
}
.design_sys_02 .content_group02 article img:nth-child(2){
    position: absolute; 
    right: -2rem; 
    scale: 98%;
}

.design_sys_02 .content_group02 .mobile_sys p{margin-bottom: 1rem;}

/* 섹션 세번째 : 디자인 시스템 3번 */
.design_sys_03, .design_sys_04{padding: 0 8.5rem;}
.design_sys_03{margin-bottom: 10rem;}
.design_sys_03 .gif_cont{text-align: center; padding: 8rem 0 2rem 0;}
.design_sys_03 .gif_cont .btnsys_info{margin-top: 2.5rem;}
.design_sys_03 .gif_cont .btnsys_info > h3{padding-bottom: 10px;}

/* 섹션 세번째 : 디자인 시스템 4번 */
.design_sys_04{padding: 0 0 5rem 8.5rem;}
.sys_title{padding: 4rem 0 0rem 0;}

.font_sys{padding: 2rem 6rem 0rem 0rem;}
.font_sys > .noto, 
.font_sys > .roboto {
    display: flex; 
    align-items:start; 
    justify-content: space-between; 
    padding: 6rem 0;
}

.font_sys > .noto > h1,
.font_sys > .roboto > h1{
    transform: translateY(-80%);
    opacity: 0;
    transition: all ease-in 1s;
}
.font_sys > .noto > h1.active,
.font_sys > .roboto > h1.active{transform: translateY(80%); opacity: 1;}

.font_sys > .noto .noto_info,
.font_sys > .roboto .roboto_info{
    transform: translateX(-10%);
    opacity: 0;
    transition: all ease-in 1s;
}
.font_sys > .noto .noto_info.active,
.font_sys > .roboto .roboto_info.active{transform: translateX(10%); opacity: 1;}
.font_sys > .noto .noto_info{position: relative; top: 2.4rem; left: -8rem;}
.font_sys > .noto .noto_info > p::after{
    content: "";
    width: 5rem;
    height: 30px;
    position: relative;
    top: 0;
    right: 0;
    border-bottom: 1px solid #555555;
}
.font_sys > .roboto > h1{
    position: relative; 
    top: 0; 
    left: -8rem;
}
.font_sys > .roboto .roboto_info{position: relative; top: 2rem; left: 0;}

/* footer */
footer{width: 100%; height: 10rem;}
